################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/script-repo/FileContentIndex/24041dcd-1c83-4469-882f-78b65d986fe6.vsidx
/.vs/slnx.sqlite
/.vs
